body {
  margin: 0 auto;
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 4px;
}

.title {
  margin: 8px;
  padding: 8px;
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  margin: 8px;
  padding: 16px 8px;
  background: #e3f4ff;
}

.button-container {
  margin: 8px;
  text-align: center;
  padding: 8px;
  background: #e3f4ff;
}

button {
  display: block;
  margin: auto;
  width: 40%;
  padding: 8px 24px;
  justify-items: center;
  background: white;
  border: 1px solid #eee;

}